<ng-container *ngIf="!isAdminRoute()">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-chatbot></app-chatbot>
  <app-footer></app-footer>
</ng-container>

<ng-container *ngIf="isAdminRoute()">
  <div class="wrapper dashboard-wrapper">
    <div class="d-flex flex-wrap flex-xl-nowrap">
      <app-sidebar></app-sidebar>
      <div class="page-content">
        <app-headeradmin></app-headeradmin>
        <main class="main" style="padding: 20px;">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </div>
</ng-container>